
body{
margin-left:20%;
margin-right:20%
}
.fixed{
    position: fixed;
    left: 0;
    height:150px;
    width:150px;
    background-color:#999;
    margin-left:18%;
    text-align:center;

}
.relative{
    position: relative;
    left: 30px;
    height:250px;
    width:600px;
    background-color:rgb(235, 233, 233);
    text-align:center;
}

.absolute{
    position: absolute;
    bottom:0;
    right:-20px;
    height:100px;
    width:200px;
    background-color:rgb(148, 143, 143);
    text-align:center;
}